body{
    background-color: #FFD9DA;
}

html {
  scroll-behavior: smooth;
}



.Top-Section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.Top-Section img{
    padding-top: 10px;
    animation: heartbeat 1.5s ease-in-out infinite both;
}



.navbar {
    display: flex;
    gap: 30px;
    padding-right: 30px;
}

.navbar a {
    font-family: 'Playfair Display', serif;
    color: rgb(46, 20, 16);
    text-decoration: none;
}

.navbar a h2 {
    margin: 0;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover h2 {
    text-decoration: underline;
}


.heading{
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
    text-align: center;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*About Us*/

.About{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.Intro{
    background-color:  rgb(46, 20, 16);
    width: 700px;
    height: 200px;
    border: 1px solid rgb(46, 20, 16);
    border-radius: 31px;
    box-shadow: 2px 5px 28px 0px rgb(46, 20, 16);
    padding: 20px;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
}

.Intro h2{
    color:  #FFD9DA;
    padding-left: 20px;
}

.Intro p{
    font-family: 'Lato', sans-serif;
    text-align: left;
    color:  #FFD9DA;
    padding-left: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.About img{
    border: 1px solid  #FFD9DA;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px #ffacdf;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.cafe-img{
    padding-right: 30px;
}


/*Menu*/

.Menu h1{
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    text-align: center;
    color: rgb(46, 20, 16);
}

.menu-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu-items h2{
    color: rgb(46, 20, 16);
    font-family: 'Playfair Display', serif;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 240, 222);
    width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: rgb(46, 20, 16);
    font-family: 'Lato', sans-serif;
    border: 5px solid rgb(46, 20, 16);
    border-radius: 21px;
    
}

.item-name{
    font-weight: bold;
    text-decoration: solid;
}

.item-price{
    padding-bottom: 10px;
}

.items:hover{
    background-color: rgb(46, 20, 16);
    color: rgb(255, 240, 222);
}


.owner-heading{
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    text-align: center;
    color: rgb(46, 20, 16);
}


.Halay, .Haroon {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 0; 
}

.Halay {
    flex-direction: row;
}

.Haroon {
    flex-direction: row-reverse;
}

.Halay img, .Haroon img {
    border-radius: 50%;
    box-shadow: 1px 2px 15px 1px #000000;
}

.msg {
    background-color: rgb(255, 240, 222);
    font-family: 'Lato', sans-serif;
    color: rgb(46, 20, 16);
    font-style: italic;
    font-weight: bold;
    word-spacing: 5px;
    width: 500px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 1px 1px 4px 0px #000000;
    animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


.contact p{
    color: rgb(46, 20, 16);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    word-spacing: 5px;
}


.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: rgb(46, 20, 16);
}
.icon-row i {
    font-size: 24px;
}

.icon h3{
    color: rgb(46, 20, 16);
    font-family: 'Playfair Display', serif;
}

.icon-sub{
    color: rgb(46, 20, 16);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    word-spacing: 5px;

}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(46, 20, 16);
  color: #FFD9DA;
  font-family: 'Lato', sans-serif;
}



/* ----------------------------------------------
 * Generated by Animista on 2025-6-29 20:32:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2025-6-29 20:34:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-29 20:37:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-29 20:39:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}



