body {
    background-color: hsl(0%, 0%, 94%);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

.Top-Section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Top-Section img {
    padding-top: 1.6rem;
    animation: heartbeat 1.5s ease-in-out infinite both;
    margin: 1.25rem;
}

.navbar {
    display: flex;
    gap: 1.875rem;
    padding-right: 1.875rem;
}

.navbar a {
    font-family: 'Playfair Display', serif;
    color: rgb(46, 20, 16);
    text-decoration: none;
}

.navbar a h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.navbar a:hover h2 {
    text-decoration: underline;
}

.heading {
    font-family: 'Great Vibes', cursive;
    font-size: 5.625rem;
    text-align: center;
    margin-top: -1.25rem;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* About Us */
.About {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Intro {
    background-color: rgb(46, 20, 16);
    width: 43.75rem;
    height: 12.5rem;
    border: 0.0625rem solid rgb(22, 7, 4);
    border-radius: 1.9375rem;
    box-shadow: 0.125rem 0.3125rem 1.75rem 0rem rgb(46, 20, 16);
    padding: 1.25rem;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.Intro h2 {
    color: #ffe7e8;
    padding-left: 1.25rem;
    font-weight: 900;
}

.Intro p {
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 800;
    color: #ffe7e8;
    padding-left: 1.25rem;
    letter-spacing: 0.125rem;
    word-spacing: 0.3125rem;
}

/* Menu */
.Menu h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4.375rem;
    text-align: center;
    color: rgb(46, 20, 16);
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu-items h2 {
    color: rgb(46, 20, 16);
    font-family: 'Playfair Display', serif;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 233, 242);
    width: 25rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 1.25rem;
    color: rgb(46, 20, 16);
    font-family: 'Lato', sans-serif;
    border: 0.3125rem solid rgb(46, 20, 16);
    border-radius: 1.3125rem;
}

.item-name {
    font-weight: bold;
    text-decoration: solid;
}

.item-price {
    padding-bottom: 0.625rem;
}

.items:hover {
    background-color: rgb(46, 20, 16);
    color: rgb(255, 233, 242);
}

.owner-heading {
    font-family: 'Great Vibes', cursive;
    font-size: 4.375rem;
    text-align: center;
    color: rgb(46, 20, 16);
}

.Halay, .Haroon {
    display: flex;
    align-items: center;
    gap: 0.4375rem;
    margin: 2.5rem 0;
}

.Halay {
    flex-direction: row;
}

.Haroon {
    flex-direction: row-reverse;
}

.Halay img, .Haroon img {
    border-radius: 50%;
    box-shadow: 0.0625rem 0.125rem 0.9375rem 0.0625rem #000000;
    margin-right: 6.25rem;
    margin-left: 6.25rem;
}

.msg {
    font-family: 'Lato', sans-serif;
    color: rgb(46, 20, 16);
    font-style: italic;
    font-weight: bold;
    word-spacing: 0.625rem;
    width: 31.25rem;
}

.contact p {
    color: rgb(46, 20, 16);
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    word-spacing: 0.625rem;
    margin: 0 auto;
    width: 31.25rem;

}

.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-top: 0.9375rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.125rem;
    color: rgb(46, 20, 16);
}

.icon-row i {
    font-size: 1.5rem;
}

.icon h3 {
    color: rgb(46, 20, 16);
    font-family: 'Playfair Display', serif;
}

.icon-sub {
    color: rgb(46, 20, 16);
    font-family: 'Lato', sans-serif;
    font-size: 0.9375rem;
    text-align: center;
    word-spacing: 0.3125rem;
}

footer {
    text-align: center;
    padding: 1.25rem;
    background-color: rgb(46, 20, 16);
    color: #ffe7e8;
    font-family: 'Lato', sans-serif;
}

footer p {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}

/* Animations */
@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-43.75rem);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: rotateX(70deg);
        transform-origin: top;
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}


@media (max-width: 768px) {
  .Top-Section {
    flex-direction: column;
    align-items: center;
  }

  .Intro{
    padding-bottom: 7.25rem;
  }

  .heading{
    padding-top: 4rem;
  }

  .heading, .owner-heading {
    font-size: 3.5rem;
  }

  .Intro, .items, .msg, .contact p{
    width: 90%;
  }

  .Halay, .Haroon {
    flex-direction: column;
    text-align: center;
  }

  .Halay img, .Haroon img, .contact p {
    margin: 0;
  }

  .navbar a:hover{
    text-decoration: underline;
}

  .footer p {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.5625rem;
}

}



